.main {
  @apply mt-3 grid grid-cols-1 gap-4 gap-x-8 transition-all sm:grid-cols-2 xl:grid-cols-4;

  > .card {
    @apply drop-shadow-sm;

    > .header {
      @apply p-2 flex flex-row items-center justify-between space-y-0 pb-1;

      > h3 {
        @apply text-sm font-medium text-slate-500;
      }

      > svg {
        @apply size-5;
      }
    }

    > .content {
      @apply px-2 py-1;

      > h2 {
        @apply text-2xl font-bold;
      }
    }
  }
}
