.wrapper {
  @apply px-4;
  .header {
    @apply md:flex md:items-center md:justify-between mb-4;

    > .info {
      @apply max-w-2xl px-4 ml-4 py-4 lg:max-w-full lg:px-0;

      > h1 {
        @apply text-2xl  font-bold;
      }

      > p {
        @apply mt-2 text-sm;
      }
    }

    > a {
      @apply hidden text-sm font-medium text-blue-600 hover:text-blue-600/90 md:flex;
    }
  }

  .catalog {
    @apply flex items-center w-full px-4 lg:px-0;

    > .products {
      @apply mt-2 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 sm:gap-5 lg:gap-6;
    }
  }
}
