@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

// $primary-color: #3b82f6;

// $secondary-color: #000000;
:root {
  --primary: 221 83% 53%;
  --secondary: 150 60% 45%;
  --secondary-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
}
